.error{
    color: red;
}
.label {
  max-width: 7%;
  min-width: 150px;
  padding: 0;
}
.row {
  padding: 0.4%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.input{
    min-width: 200px;
}
.content{
    width: 100%;
    max-width: 1200px;
}
