a {
  list-style: none;
  margin: 20px;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
}
a:hover {
  color: #05386b;
  cursor: pointer;
}
li{
  list-style: none;
  margin: 15px;
}